body {

    .gloria-hallelujah-regular {
      font-family: "Gloria Hallelujah", cursive;
      font-weight: 400;
      font-style: normal;
    }

    .gist {
      font-family: var(--font-monospace);
      font-size: var(--font-smaller);
      .gist-meta {
        display: none;
      }
    }

}

@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');
